<a href="https://colab.research.google.com/github/sachinkun21/Data-Analytics/blob/master/yozoo_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTIONS-
1. From the given Dataset, determine and analyze Day 1, Day 3, Day 7, Day 15 and Day 30
Retention. (Refer to Session start tab)
2. Create a Funnel of level progression and determine if any areas of the game are acting as
blockers. (Refer to Level Start tab). Also, identify how many times levels are replayed.
3. What percentage of users make first time purchases between levels 1 to 7? (Refer to Spenders
tab)
4. What percentage of users make a repeat purchase? At what level maximum repeat purchases
happen? (Refer to Spenders tab)
5. Which packs generate the maximum revenue? (Refer to Spenders tab)

- Session: Current session of the user. Every time the user opens the game(app) session gets incremented.
So, the first session would be 1 and every time the user will open the app the session number
will increase.
- Level: The current level of the user. 


Funneling: The funnel won't need that many fields to work with. Think of it as something very similar to
a sales funnel. We just want to see a representation of how many players are progressing across every
level. Then you may derive insights using that to find if any particular levels are more difficult, thus may
act as blockers.

In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
ls '/content/drive/My Drive/DataScience'

Assignment.docx  Dataset.xlsx  Employee.csv  Employee_HR.csv  transaction.csv

In [4]:
df_level_start = pd.read_excel('/content/drive/My Drive/DataScience/Dataset.xlsx', parse_dates=['event_date','event_time'])
df_level_start.head()

                                user_id event_date  ... Level__ID  session_nb
0  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-10-14  ...        18           4
1  FEAE206C-02E5-4610-B2A5-0EC5CBC73BBD 2015-10-14  ...        13           9
2  DC155AB7-3728-4E8D-A933-1BD7A0BC993A 2015-10-14  ...         1           3
3  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-10-14  ...        15           3
4  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-10-14  ...        15           3

[5 rows x 5 columns]

In [5]:
df_spenders = pd.read_excel('/content/drive/My Drive/DataScience/Dataset.xlsx', parse_dates=['event_date','event_time'], sheet_name = 1)
df_spenders.head()

                                user_id event_date  ... money Spent  money_currency
0  8BF191CF-567A-4977-B2C9-90EC756EFD41 2015-10-01  ...   99.989998             EUR
1  936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-09-28  ...    1.990000             EUR
2  52807659-0332-486C-99E4-84429A1830F3 2015-09-22  ...   49.990002             EUR
3  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...    9.990000             EUR
4  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...    1.990000             EUR

[5 rows x 8 columns]

In [6]:
df_session_start = pd.read_excel('/content/drive/My Drive/DataScience/Dataset.xlsx', parse_dates=['event_date','event_time'], sheet_name = 2)
df_session_start.head()

                                user_id event_date  ... session_nb user_country
0  FEAE206C-02E5-4610-B2A5-0EC5CBC73BBD 2015-10-14  ...          9           IN
1  FEAE206C-02E5-4610-B2A5-0EC5CBC73BBD 2015-10-14  ...          9           IN
2  DC155AB7-3728-4E8D-A933-1BD7A0BC993A 2015-10-14  ...          3           CN
3  C47A6FCE-6C76-41FE-9A6A-173AC7F01315 2015-10-14  ...          3           IN
4  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-10-14  ...          3           IN

[5 rows x 6 columns]

In [10]:
df_session_start.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42897 entries, 0 to 42896
Data columns (total 6 columns):
user_id         42897 non-null object
event_date      42897 non-null datetime64[ns]
event_time      42897 non-null datetime64[ns]
device_name     42897 non-null object
session_nb      42897 non-null int64
user_country    42897 non-null object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 2.0+ MB

In [11]:
print("Count of Unique Users: ",df_session_start.user_id.nunique() )
# print("Count of Unique Levels: ",df_session_start.Level.nunique() )
# print("Unique Labels: ")
# df_session_start.Level__ID.unique()

Count of Unique Users:  233

#### 1. User Retention: Session Start

In [12]:
df_session_start.head()

                                user_id event_date  ... session_nb user_country
0  FEAE206C-02E5-4610-B2A5-0EC5CBC73BBD 2015-10-14  ...          9           IN
1  FEAE206C-02E5-4610-B2A5-0EC5CBC73BBD 2015-10-14  ...          9           IN
2  DC155AB7-3728-4E8D-A933-1BD7A0BC993A 2015-10-14  ...          3           CN
3  C47A6FCE-6C76-41FE-9A6A-173AC7F01315 2015-10-14  ...          3           IN
4  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-10-14  ...          3           IN

[5 rows x 6 columns]

In [13]:
print("Count of Unique Users: ",df_session_start.user_id.nunique() )
print("Count of Unique Sessions: ",df_session_start.session_nb.nunique() )
print("Count of Unique Dates: ",df_session_start.event_date.nunique())

Count of Unique Users:  233
Count of Unique Sessions:  400
Count of Unique Dates:  266

In [14]:
print('Min:{}; Max:{}'.format(min(df_session_start.event_date),max(df_session_start.event_date)))

Min:2015-09-22 00:00:00; Max:2016-06-21 00:00:00

In [0]:
day1 = '2015-09-22'

In [16]:
day1_acquired = df_session_start[(df_session_start.event_date==day1) & (df_session_start.session_nb==1)]
day1_acquired.nunique()

user_id          4
event_date       1
event_time      38
device_name      4
session_nb       1
user_country     1
dtype: int64

In [17]:
day1_retained=df_session_start[(df_session_start.event_date==day1) & (df_session_start.session_nb>1) & (df_session_start.user_id.isin(day1_acquired.user_id)) ]
day1_retained.user_id.nunique()

2

In [18]:
(day1_acquired.user_id.nunique()), (day1_retained.user_id.nunique())

(4, 2)

In [0]:
# df_session_start[df_session_start.user_id.isin(day1_acquired.user_id)]

Percentage of Users Retained  on Day 1:

In [20]:
(day1_retained.user_id.nunique())/(day1_acquired.user_id.nunique())*100

50.0

Now we will write a function to calculate and return Percentages of Customers Retained for any day

In [0]:
def customers_retained_percent(date):
  customers_acquired = df_session_start[(df_session_start.event_date==date) & (df_session_start.session_nb==1)]
  customers_retained = df_session_start[(df_session_start.event_date==date) & (df_session_start.session_nb>1) & (df_session_start.user_id.isin(customers_acquired.user_id)) ]
  return (customers_retained .user_id.nunique())/(customers_acquired.user_id.nunique())*100

In [22]:
date = '2015-09-22'
print(customers_retained_percent(date))

50.0

In [23]:
day1 = '2015-09-22'
day3 = '2015-09-24'
day7 = '2015-09-28'
day15= '2015-10-06'
day30= '2015-10-21'


list_of_days = [day1, day3, day7, day15, day30]

retained_percent = []
for date in list_of_days:
    percent = customers_retained_percent(date)
    retained_percent.append(percent)


print(retained_percent)

[50.0, 60.0, 66.66666666666666, 60.0, 100.0]

#### What percentage of users make first time purchases between levels 1 to 7? (Refer to Spenders tab)

In [24]:
df_spenders.head()

                                user_id event_date  ... money Spent  money_currency
0  8BF191CF-567A-4977-B2C9-90EC756EFD41 2015-10-01  ...   99.989998             EUR
1  936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-09-28  ...    1.990000             EUR
2  52807659-0332-486C-99E4-84429A1830F3 2015-09-22  ...   49.990002             EUR
3  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...    9.990000             EUR
4  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...    1.990000             EUR

[5 rows x 8 columns]

In [25]:
df_1st_purch_1_to_7 = df_spenders[(df_spenders.session_nb==1) & (df_spenders.Level.isin([1,2,3,4,5,6,7]))]
df_1st_purch_1_to_7.head()

                                 user_id event_date  ... money Spent  money_currency
0   8BF191CF-567A-4977-B2C9-90EC756EFD41 2015-10-01  ...   99.989998             EUR
1   936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-09-28  ...    1.990000             EUR
8   1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...    9.990000             EUR
9   936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-10-18  ...   64.989998             NZD
12  6BED1A04-43A3-431D-B908-5CD3E3843B5C 2015-11-05  ...   19.990000             EUR

[5 rows x 8 columns]

In [26]:
df_1st_purch_1_to_7.user_id.nunique(), df_spenders.user_id.nunique()

(61, 233)

In [27]:
percent = df_1st_purch_1_to_7.user_id.nunique()/ df_spenders.user_id.nunique()*100
print("Percentage of users make first time purchases between levels 1 to 7: ", round(percent,2), "%")

Percentage of users make first time purchases between levels 1 to 7:  26.18 %

#### What percentage of users make a repeat purchase? 
#### At what level maximum repeat purchases happen?

In [28]:
df_spenders.user_id.nunique()

233

In [29]:
groupby_users= df_spenders.groupby(by = 'user_id').count()
groupby_users.head()

                                      event_date  ...  money_currency
user_id                                           ...
011A3515-4A03-4350-9574-25346518A6A6           4  ...               4
0325F505-2A21-44DA-8A2C-784E9192B241          22  ...              22
0468B646-70AE-42B9-B0CB-57AA168A42CE           1  ...               1
07F425F8-EF9C-46FD-8DF8-28682F27C197           2  ...               2
0861668E-4028-4251-8AEB-B5B306A06041           1  ...               1

[5 rows x 7 columns]

In [30]:
len(groupby_users[groupby_users.event_date>1])

149

In [31]:
len(groupby_users[groupby_users.event_date>1]),df_spenders.user_id.nunique()

(149, 233)

In [32]:
percent = len(groupby_users[groupby_users.event_date>1]) / df_spenders.user_id.nunique()*100
print("Percentage of users making a repeat purchase: ", round(percent,2), "%")

Percentage of users making a repeat purchase:  63.95 %

In [33]:
repeat_purchase_level = df_spenders.groupby(by = ['Level']).count().sort_values(by = 'user_id', ascending = False)
repeat_purchase_level.head()

       user_id  event_date  event_time  ...  Pack Name  money Spent  money_currency
Level                                   ...
1          271         271         271  ...        271          271             271
2          192         192         192  ...        192          192             192
10         155         155         155  ...        155          155             155
0          145         145         145  ...        145          145             145
3          144         144         144  ...        144          144             144

[5 rows x 7 columns]

In [34]:
print("Top 5 levels with maximum repeat purchases are:", repeat_purchase_level.index[:5].values)

Top 5 levels with maximum repeat purchases are: [ 1  2 10  0  3]

#### Which packs generate the maximum revenue? (Refer to Spenders tab)

In [35]:
df_spenders.money_currency.unique()

array(['EUR', 'NZD', 'AUD', 'USD', 'GBP', 'INR', 'CAD', 'RUB', '$ AUD'],
      dtype=object)

In [0]:
dict_curr_to_INR = {"EUR": 78.75 , "NZD": 45.40,"USD" :70.55,"AUD": 48.75, "GBP": 91.24, "INR": 1 , "CAD": 53.82, "RUB": 1.11, '$ AUD': 48.75}

In [37]:
df_spenders['INR_conv'] = df_spenders.money_currency.map(dict_curr_to_INR)
df_spenders.head()

                                user_id event_date  ... money_currency  INR_conv
0  8BF191CF-567A-4977-B2C9-90EC756EFD41 2015-10-01  ...            EUR     78.75
1  936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-09-28  ...            EUR     78.75
2  52807659-0332-486C-99E4-84429A1830F3 2015-09-22  ...            EUR     78.75
3  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...            EUR     78.75
4  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...            EUR     78.75

[5 rows x 9 columns]

In [38]:
df_spenders['INR_conv'].value_counts()

78.75    1382
48.75     253
53.82     249
45.40      44
1.00       22
91.24      21
70.55       7
1.11        3
Name: INR_conv, dtype: int64

In [39]:
df_spenders['money_currency'].value_counts()

EUR      1382
AUD       252
CAD       249
NZD        44
INR        22
GBP        21
USD         7
RUB         3
$ AUD       1
Name: money_currency, dtype: int64

In [40]:
df_spenders.head()

                                user_id event_date  ... money_currency  INR_conv
0  8BF191CF-567A-4977-B2C9-90EC756EFD41 2015-10-01  ...            EUR     78.75
1  936BAA84-CDE9-4C8F-A949-5E2CB077A9CE 2015-09-28  ...            EUR     78.75
2  52807659-0332-486C-99E4-84429A1830F3 2015-09-22  ...            EUR     78.75
3  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...            EUR     78.75
4  1CE1D120-D2FA-4DAF-80D2-9C5BBDCFB9A5 2015-10-17  ...            EUR     78.75

[5 rows x 9 columns]

In [42]:
df_spenders["Money_Spent_INR"] = df_spenders['money Spent']* df_spenders['INR_conv']
df_spenders[["Pack Name","Money_Spent_INR"]].head()

          Pack Name  Money_Spent_INR
0  Shop 5750 Tokens      7874.212332
1   Shop 17500 Orbs       156.712501
2  Shop 490000 Orbs      3936.712632
3   Shop 510 Tokens       786.712482
4   Shop 100 Tokens       156.712501